@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* HOME */
    .section {
        background-image: url(../assets/img/celular.jpg);
        background-size: 100%;
        height: 130vh;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @keyframes scale-up-center {
        0% {
            transform: scale(0.5);
        }

        100% {
            transform: scale(1);
        }
    }

    .text1 h1 {
        animation: heartbeat 1.5s ease-in-out infinite both;
        color: white;
        -webkit-text-stroke: 2px black;
        position: fixed;
        top: 0rem;
        left: 1.5rem;
        font-size: 15vw;
        text-shadow: -4px 3px 0 #032a85, -10px 7px 0 #391172;
    }

    .text1 h2 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 7vw;
        position: fixed;
        top: 10rem;
        left: -5rem;

        padding-right: 12vw;
    }

    .text1 .line2-sara {
        position: fixed;
        top: 12rem;
    }

    .text2 h1 {
        animation: heartbeat 1.5s ease-in-out infinite both;
        color: rgb(192, 248, 245);
        -webkit-text-stroke: 2px black;
        text-shadow: -4px 3px 0 #025838, -10px 7px 0 #116c72;
        position: fixed;
        top: 30rem;
        left: 2.5rem;
        font-size: 18vw;
    }

    .text2 h2 {
        position: fixed;
        left: -3rem;
        top: 40rem;
        font-size: 6.5vw;
        text-align: left;
        padding-left: 20vw;
        padding-right: 22vw;
    }

    .text2 .line-frontend2 {
        position: fixed;
        left: -3rem;
        top: 42rem;
    }

    .text2 .line-frontend3 {
        position: fixed;
        left: -3rem;
        top: 44rem;
    }
    /* EXPERIENCIA LABORAL (JOBS) */
}

@media (min-width: 481px) and (max-width: 767px) {
    /* HOME */
    .section {
        background-image: url(../assets/img/celular.jpg);
        background-size: 100%;
        height: 200vh;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @keyframes scale-up-center {
        0% {
            transform: scale(0.5);
        }

        100% {
            transform: scale(1);
        }
    }

    .text1 h1 {
        animation: heartbeat 1.5s ease-in-out infinite both;
        color: white;
        -webkit-text-stroke: 2px black;
        position: fixed;
        top: 0rem;
        left: 1.5rem;
        font-size: 15vw;
        text-shadow: -4px 3px 0 #032a85, -10px 7px 0 #391172;
    }

    .text1 h2 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 7vw;
        position: fixed;
        top: 12rem;
        left: -4rem;

        padding-right: 12vw;
    }

    .text1 .line2-sara {
        position: fixed;
        top: 15rem;
    }

    .text2 h1 {
        animation: heartbeat 1.5s ease-in-out infinite both;
        color: rgb(192, 248, 245);
        -webkit-text-stroke: 2px black;
        text-shadow: -4px 3px 0 #025838, -10px 7px 0 #116c72;
        position: fixed;
        top: 45rem;
        left: 3rem;
        font-size: 18vw;
    }

    .text2 h2 {
        position: fixed;
        left: -4.5rem;
        top: 58rem;
        font-size: 6.5vw;
        text-align: left;
        padding-left: 20vw;
        padding-right: 22vw;
    }

    .text2 .line-frontend2 {
        position: fixed;
        left: -4.5rem;
        top: 61rem;
    }

    .text2 .line-frontend3 {
        position: fixed;
        left: -4.5rem;
        top: 64rem;
    }

    /* EXPERIENCIA LABORAL (JOBS) */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
     /* HOME */
    .section {
        background-size: 100%;
        height: 75vh;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .text1 h1 {
        animation: heartbeat 1.5s ease-in-out infinite both;
        color: white;
        -webkit-text-stroke: 2px black;
        position: fixed;
        top: 4rem;
        left: 1.5rem;
        font-size: 8vh;
        text-shadow: -4px 3px 0 #032a85, -10px 7px 0 #391172;
    }

    .text1 h2 {
        border: none;
        font-family: 'Courier New', Courier, monospace;
        font-size: 4vh;
        position: fixed;
        top: 13rem;
        left: -14rem;
    }

    .text1 .line2-sara {
        position: fixed;
        top: 15rem;
    }

    .text2 h1 {
        animation: heartbeat 1.5s ease-in-out infinite both;
        color: rgb(192, 248, 245);
        -webkit-text-stroke: 2px black;
        text-shadow: -4px 3px 0 #025838, -10px 7px 0 #116c72;
        position: fixed;
        top: 3.5rem;
        left: 30rem;
        font-size: 9vh;
    }

    .text2 h2 {
        border: none;
        position: fixed;
        left: 31rem;
        top: 13rem;
        font-size: 3.3vh;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }

    .text2 .line-frontend2 {
        position: fixed;
        left: 31.5rem;
        top: 15rem;
    }

    .text2 .line-frontend3 {
        position: fixed;
        left: 31.5rem;
        top: 17rem;
    }
    /* EXPERIENCIA LABORAL (JOBS) */
}

@media only screen and (min-device-width : 792px) and (max-device-width : 899px) {
    /* HOME */

   .text2 h2 {
       border: none;
       position: fixed;
       left: 32rem;
       top: 13rem;
       font-size: 3.3vh;
       text-align: left;
       padding-left: 0;
       padding-right: 0;
   }

   .text2 .line-frontend2 {
       position: fixed;
       left: 33rem;
       top: 15rem;
   }

   .text2 .line-frontend3 {
       position: fixed;
       left: 34rem;
       top: 17rem;
   }
   /* EXPERIENCIA LABORAL (JOBS) */
}

@media only screen and (min-device-width : 812px){
    /* HOME */

   .text2 h2 {
       border: none;
       position: fixed;
       left: 34rem;
       top: 13rem;
       font-size: 3.3vh;
       text-align: left;
       padding-left: 0;
       padding-right: 0;
   }

   .text2 .line-frontend2 {
       position: fixed;
       left: 35rem;
       top: 15rem;
   }

   .text2 .line-frontend3 {
       position: fixed;
       left: 36rem;
       top: 17rem;
   }
   /* EXPERIENCIA LABORAL (JOBS) */
}

@media only screen and (min-device-width : 862px){
    /* HOME */

   .text2 h2 {
       border: none;
       position: fixed;
       left: 36rem;
       top: 13rem;
       font-size: 3.3vh;
       text-align: left;
       padding-left: 0;
       padding-right: 0;
   }

   .text2 .line-frontend2 {
       position: fixed;
       left: 37rem;
       top: 15rem;
   }

   .text2 .line-frontend3 {
       position: fixed;
       left: 38rem;
       top: 17rem;
   }
   /* EXPERIENCIA LABORAL (JOBS) */
}


@media only screen and (min-device-width : 900px) and (max-device-width : 1024px) {
   .text2 h1 {
       animation: heartbeat 1.5s ease-in-out infinite both;
       color: rgb(192, 248, 245);
       -webkit-text-stroke: 2px black;
       text-shadow: -4px 3px 0 #025838, -10px 7px 0 #116c72;
       position: fixed;
       top: 3.5rem;
       left: 32rem;
       font-size: 9vh;
   }

   .text2 h2 {
       border: none;
       position: fixed;
       left: 38rem;
       top: 13rem;
       font-size: 3.3vh;
       text-align: left;
       padding-left: 0;
       padding-right: 0;
   }

   .text2 .line-frontend2 {
       position: fixed;
       left: 39rem;
       top: 15rem;
   }

   .text2 .line-frontend3 {
       position: fixed;
       left: 40rem;
       top: 17rem;
   }
   /* EXPERIENCIA LABORAL (JOBS) */
}

@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) {
    .section {
        height: 105vh;
    }

    .text1 h1 {
        position: fixed;
        left: 1.8rem;
    }

    .text1 h2 {
        position: fixed;
        top: 12rem;
        left: -4rem;

        padding-right: 12vw;
    }

    .text1 .line2-sara {
        position: fixed;
        top: 15rem;
    }

    .text2 h1 {
        position: fixed;
        top: 38rem;
        left: 2.5rem;
    }

    .text2 h2 {
        position: fixed;
        top: 50rem;
        left: -15vw;
    }

    .text2 .line-frontend2 {
        position: fixed;
        left: -15vw;
        top: 52rem;
    }

    .text2 .line-frontend3 {
        position: fixed;
        left: -15vw;
        top: 54rem;
    }
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    .section {
        height: 109vh;
    }
    .text2 h1 {
        position: fixed;
        top: 38rem;
        left: 2.5rem;
    }

    .text2 h2 {
        position: fixed;
        top: 50rem;
        left: -15vw;
    }

    .text2 .line-frontend2 {
        position: fixed;
        left: -15vw;
        top: 52rem;
    }

    .text2 .line-frontend3 {
        position: fixed;
        left: -15vw;
        top: 54rem;
    }
}

@media only screen and (min-device-width : 1000px) and (max-device-width : 1024px) {
    .text1 h1 {
        animation: heartbeat 1.5s ease-in-out infinite both;
        color: white;
        -webkit-text-stroke: 2px black;
        position: fixed;
        top: 4rem;
        left: 8rem;
        font-size: 8vh;
        text-shadow: -4px 3px 0 #032a85, -10px 7px 0 #391172;
    }
    .text2 h1 {
        animation: heartbeat 1.5s ease-in-out infinite both;
        color: rgb(192, 248, 245);
        -webkit-text-stroke: 2px black;
        text-shadow: -4px 3px 0 #025838, -10px 7px 0 #116c72;
        position: fixed;
        top: 3.5rem;
        left: 32rem;
        font-size: 9vh;
    }
 
    .text2 h2 {
        border: none;
        position: fixed;
        left: 40rem;
        top: 13rem;
        font-size: 3.3vh;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }
 
    .text2 .line-frontend2 {
        position: fixed;
        left: 42rem;
        top: 15rem;
    }
 
    .text2 .line-frontend3 {
        position: fixed;
        left: 44rem;
        top: 17rem;
    }
    /* EXPERIENCIA LABORAL (JOBS) */
 }

@media only screen and (min-width : 1025px) {
    .text1 h2{
        border: none;
        margin-left: 4rem;
    }

    .text1 .line2-sara{
        overflow: hidden;
        border-right: .15em solid orange;
        white-space: nowrap; 
        width: 0;
        animation: 
          typing 1s steps(25, end) forwards;
        animation-delay: 1s;
    }
    .text2 h1 {
        position: fixed;
        top: 10rem;
        left: 50rem;
    }

    .text2 h2 {
        border: none;
        position: fixed;
        left: 55rem;
        top:22.3rem;
        font-size: 5vh;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }
 
    .text2 .line-frontend2 {
        position: fixed;
        left: 56rem;
        top: 25rem;
    }
 
    .text2 .line-frontend3 {
        position: fixed;
        left: 57rem;
        top: 27.5rem;
    }
}